@if(@ViewBag.User == null){
    <h1>You are not logged in</h1>
     <a asp-controller="Home" asp-action="Index"><h2>Get out of here</h2></a>
} else {
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-12">
                <h2>Hi @ViewBag.User.FirstName</h2>
                <h4>Your Money: $@ViewBag.User.Wallet</h4>
                <a asp-controller="Home" asp-action="CreateAuction">Create Auction</a>
                <a asp-controller="Home" asp-action="Logout">Logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Current Auction</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Seller</th>
                            <th>Top Bid</th>
                            <th>Time Remaining</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ foreach(var auction in ViewBag.Auctions){
                        <tr>
                            <td><a asp-controller="Home" asp-action="ShowAuction" asp-route-id="@auction.Id">@auction.ProductName</a></td>
                            <td>@auction.CreatedUser</td>
                            <td>@auction.Bid</td>
                            <td>@ViewBag.Reamining[@auction.Id] days remaining</td>
                            @if(@auction.CreatedUser == @ViewBag.User.FirstName + " " + @ViewBag.User.LastName){
                                <td><a asp-controller="Home" asp-action="DeleteAuction" asp-route-id="@auction.Id">Delete!</a></td>
                            }
                        </tr>
                        } }
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
}