@{ ViewData["Title"] = "Home Page"; }
@model dojoleague.Models.Ninja
<div class="row">
    <div class="col-sm-6">
        <h3>Registered Ninjas</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Home Dojo</th>
                </tr>
            </thead>
            <tbody>
                @{ foreach(var ninja in ViewBag.Ninjas){
                <tr>
                    <td><a href="ninja/show/@ninja.Id">@ninja.Name</a></td>
                    @foreach(var dojo in ViewBag.Dojos){ 
                        if(@dojo.Id == Int64.Parse(@ninja.DojoId)){
                        <td><a href="dojo/show/@dojo.Id">@dojo.Name</a></td>
                    } }
                        
                </tr>
                } }
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>Register Ninja!</h3>
        <form action="add" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" asp-for="Name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Name">
                <small id="nameHelp" class="form-text text-muted"><span asp-validation-for="Name"></span></small>
            </div>
            <div class="form-group">
                <label for="level">Level</label>
                <select asp-for="Level"class="form-control" id="level" aria-describedby="levelHelp">
                    <option value="1">Lv.1</option>
                    <option value="2">Lv.2</option>
                    <option value="3">Lv.3</option>
                    <option value="4">Lv.4</option>
                    <option value="5">Lv.5</option>
                    <option value="6">Lv.6</option>
                    <option value="7">Lv.7</option>
                    <option value="8">Lv.8</option>
                    <option value="9">Lv.9</option>
                    <option value="10">Lv 10</option>
                </select>
                <small id="levelHelp" class="form-text text-muted"><span asp-validation-for="Level"></span></small>
            </div>
            <div class="form-group">
                <label for="dojo">Home Dojo</label>
                <select asp-for="DojoId" class="form-control" id="dojo">
                    @{
                        foreach(var dojo in ViewBag.Dojos){
                            <option value="@dojo.Id">@dojo.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea asp-for="Description" class="form-control" id="description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>