<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h3>Welcome @ViewBag.User.Name</h3>
        <a asp-controller="Home" asp-action="Destroy"><h5>Get out of here</h5></a>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Couple</th>
      <th>Date</th>
      <th>Location</th>
      <th>Guest Number</th>
      <th>Do you care enough to attend?</th>
    </tr>
  </thead>
  <tbody>
      @{
          foreach(var wedding in ViewBag.Weddings){
            <tr>
                <th scope="row">@wedding.Id</th>
                <td>@wedding.Name</td>
                <td>@wedding.Date</td>
                <td>@wedding.Location</td>
                <td>@wedding.Guests.Count</td>
                @if(ViewBag.AttendingWeddings.Contains(wedding.Id)){
                    <td><a asp-controller="Home" asp-action="UnRsvp" asp-route-id="@wedding.Id">I hate them</a></td>
                }else {
                    <td><a asp-controller="Home" asp-action="Rsvp" asp-route-id="@wedding.Id">I like them</a></td>
                }
        
            </tr>
          }
      }
</table>
    </div>
    <div class="col-sm-1"></div>
</div>